


.menu-dropdown {
    background-color: white;
    padding: 1rem;
    position: fixed;
    right: 0;
    top: 0;
    bottom: 0;

    display: flex;
    align-items: center;
    flex-direction: column;
    z-index: 10;
    width: 60%;
    box-shadow: 1px 1px 10px gray;
}
.menu-dropdown .nav-links {
    display: flex;
    flex-direction: column;
    gap: 1rem;
    align-items: flex-start;
    margin-top: 2rem;
}
.menu-dropdown .nav-links a {
    color: black;
    text-decoration: none;
}
.menu-dropdown .nav-links a:hover {
    color: #FF7373;
}
.menu-dropdown .top i {
    position: absolute;
    top: 1.5rem;
    right: 1rem;
}



.menu-dropdown .icons {
    gap: 1rem;
    display: grid;
    grid-template-columns: 1fr 1fr;
    margin-top: 2rem;
}
.menu-dropdown .icons i {
    padding: .5rem;
    background-color: white;
    border-radius: 50%;
    position: relative;

    box-shadow: 0 0 10px lightgray;
}
.menu-dropdown .icons i:hover {
    background-color: var(--clr-title);
    color: white;
}
.menu-dropdown .number {
    position: absolute;
    top: -5px;
    right: -5px;

    width: 15px;
    height: 15px;
    font-size: xx-small;
    background-color: var(--clr-pink);
    border-radius: 50%;
    color: white;

    display: flex;
    align-items: center;
    justify-content: center;
}
.menu-dropdown .dark {
    color: gray;
}
.menu-dropdown .dark:hover {
    color: #FF7373;
}