.footer .btn-app {
    display: flex;
    align-items: center;
    color: #fff;
    background-color: #000;
    border-radius: 5px;
    padding: .1rem .4rem;
    gap: .5rem;
    cursor: pointer;
    width: 120px;
    height: 35px;
}
.footer .btn-app small {
    font-size: 7px;
    text-align: start;
}
.footer .btn-app  span {
    font-size: 12px;
    color: #fff;
}
.footer .btn-app  i {
    font-size: 1.5rem;
}
.footer .btn-app  img {
    width: 20px;
}
.footer .btn-app .btn-content {
    display: flex;
    flex-direction: column;
}
.footer .social-icons {
    display: flex;
    gap: .8rem;
}
.footer .social-icons i {
    cursor: pointer;
}
.footer .c-fixxo{
    text-align: center;
    font-size: .6rem;
    color: #616365;
}


/* MER FOOTER? */
.bg-c-fixxo {
    background-color: #F8F8F8;
    border-top: 1px solid #b3b7bb;
    padding: .3rem;
    text-align: center;
  }
  
  .footer {
    background-color: #F8F8F8;
    display: flex;
    justify-content: center;
    margin-top: 2rem;
    padding-block: 2rem;
    gap: 5rem;
  }
  
  .footer .customer-service {
    display: flex;
    flex-direction: column;
    gap: .3rem;
  }
  
  .footer .credit-card {
    display: flex;
    flex-direction: column;
    gap: .3rem;
  }
  
  .footer .our-stores {
    display: flex;
    flex-direction: column;
    gap: .3rem;
  }
  
  .footer h5 {
    margin-bottom: .5rem;
  }
  
  .footer p {
    color: #616365;
    font-size: .8rem;
    font-weight: 500;
  }
  
  .app-list {
    display: flex;
    flex-direction: column;
    gap: 1rem;
  }
  
  .footer .app-btns {
    display: flex;
    gap: 1rem;
  
  }
  

/* MEDIA QUERIES */

@media (max-width: 1200px) {
    
}
@media (max-width: 992px) {      
    
}
@media (max-width: 768px) {
   .footer {
    flex-direction: column;
   }
   .footer-mobile {
    margin: 0 auto;
    width: 90%;
    display: flex;
    justify-content: space-between;
   }
   .footer .app-btns {
    flex-direction: column;
   }
   .home-page-lower.fa-brands {
    font-size: 2rem;
   }
   .footer .social-icons {
    justify-content: center;
    gap: 2rem;
   }
}