.footer .btn-app {
    display: flex;
    align-items: center;
    color: #fff;
    background-color: #000;
    border-radius: 5px;
    padding: .1rem .4rem;
    gap: .5rem;
    cursor: pointer;
    width: 120px;
    height: 35px;
}
.footer .btn-app small {
    font-size: 7px;
    text-align: start;
}
.footer .btn-app  span {
    font-size: 12px;
    color: #fff;
}
.footer .btn-app  i {
    font-size: 1.5rem;
}
.footer .btn-app  img {
    width: 20px;
}
.footer .btn-app .btn-content {
    display: flex;
    flex-direction: column;
}
.social-icons {
    display: flex;
    gap: .8rem;
}
.social-icons i {
    cursor: pointer;
}
.c-fixxo{
    text-align: center;
    font-size: .6rem;
    color: #616365;
}

/* MEDIA QUERIES */

@media (max-width: 1200px) {
    
}
@media (max-width: 992px) {      
    
}
@media (max-width: 768px) {
   .footer {
    flex-direction: column;
   }
   .footer-mobile {
    margin: 0 auto;
    width: 90%;
    display: flex;
    justify-content: space-between;
   }
   .app-btns {
    flex-direction: column;
   }
   .home-page-lower.fa-brands {
    font-size: 2rem;
   }
   .social-icons {
    justify-content: center;
    gap: 2rem;
   }
}