@import url('https://fonts.googleapis.com/css2?family=Poppins:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&display=swap');

:root {
  --clr-showcase-bg: #E6E6E6;
  --clr-title: #222529;
  --clr-pink: #FF7373;
  --clr-grey: #BEBEBE;

}

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

html,
body {
  font-family: 'Poppins', sans-serif;
  background-color: white;
}

.container {
  width: 90%;
  margin: 0 auto;
}

.btn {
  border: 1px solid white;
  width: 188px;
  height: 60px;
  border: none;
}

.btn-pink {
  color: white;
  background-color: var(--clr-pink);
}

.btn-black {
  background-color: black;
  color: white;
}


/* HOME - HEADER */
.header {
  background-color: var(--clr-showcase-bg);
  height: 85vh;
}

.header .menu {
  display: flex;
  align-items: center;
  justify-content: space-between;

  padding-block: 1rem;
}

.header .menu .brand {
  color: var(--clr-title);
  font-size: 35px;
  font-weight: bold;
}

.header .menu .nav-links {
  display: flex;
  align-items: center;
  gap: 2rem;
}

.header .menu .nav-links a {
  color: var(--clr-title);
  font-size: 16;
  text-decoration: none;
}

.active {
  color: var(--clr-pink);
}

.header .menu .menu-icons {
  display: flex;
  align-items: center;
  gap: 1rem;
}

.header .menu .menu-icons i {
  padding: .5rem;
  background-color: white;
  border-radius: 50%;

  position: relative
}

.number {
  position: absolute;
  top: -5px;
  right: -5px;

  width: 15px;
  height: 15px;
  font-size: xx-small;
  background-color: var(--clr-pink);
  border-radius: 50%;
  color: white;

  display: flex;
  align-items: center;
  justify-content: center;
}



.showcase {
  display: flex;
  justify-content: space-between;
  align-items: center;

  text-align: center;
  color: var(--clr-title);
}

.showcase img {
  height: 73vh;
}

.showcase .text h1 {
  font-weight: 800;
  font-size: 65px;
  line-height: 75px;
}

.showcase .text p {
  font-size: 20px;
  margin-block: 2rem;
}





/* HOME - SHOWCASE 2 */
.second-showcase {
  margin-block: 2rem;
}

.second-showcase .container {
  display: flex;
  height: 50vh;
}

.second-showcase .container .winter {
  flex: 2;
  /* background-image: url(./img/showcase-img-1.svg); */
  background-color: rgb(198, 191, 191);
  background-size: contain;
  background-position: right bottom;
  background-repeat: no-repeat;

  padding: 2rem;
  padding-top: 4rem;
}

.second-showcase .container .winter p,
.second-showcase .container .arrivals p {
  margin-block: 1rem;
  max-width: 55%;
}

.second-showcase .container .arrivals {
  flex: 1;
  /* background-image: url(./img/showcase-img-2.svg); */
  background-color: #E6E6E6;
  background-position: right bottom;
  background-size: contain;
  background-repeat: no-repeat;

  padding: 2rem;
  padding-top: 8rem;
}

.second-showcase .container .arrivals h2,
.second-showcase .container .winter h2 {
  margin-bottom: 1rem;
  font-size: 30px;
  line-height: 40px;
}

/* HOME - LOWER PART START */
.product-sales {
  display: flex;
  gap: 1rem;
}

.flash-sale {
  background-color: var(--clr-grey);
  display: flex;
  align-items: center;
  justify-content: center;
  flex-direction: column;
  width: 825px;
}
.flash-text {
  font-size: 3rem;
  color: #ffffff;
}
.btn {
  font-weight: 600;
  position: relative;
  background-color: #fff;
  padding: 1.5rem 0.75rem;
}
.btn::before {
  content: "";
  position: absolute;
  left: 10px;
  bottom: 30px;
  width: 20px;
  height: 20px;
  background-color: transparent;
  border-left: 2px solid #000;
  border-top: 2px solid #000;
}
.btn::after {
  content: "";
  position: absolute;
  right: 10px;
  top: 30px;
  width: 20px;
  height: 20px;
  background-color: transparent;
  border-right: 2px solid #000;
  border-bottom: 2px solid #000;
}

.sales-card-wrapper {
  display: grid;
  grid-template-columns: minmax(255px, 280px) auto;
  gap: 1.5rem;
  padding-right: 50px;
}

.sales-card-wrapper .card {
  display: flex;
  flex-direction: column;
  gap: .3rem;
}

.sales-card-wrapper .card .card-picture {
  background-color: var(--clr-showcase-bg);
  width: 255px;
  height: 210px;
}

.sales-card-wrapper .card h6 {
  align-self: flex-start;
}
.sales-card-wrapper .card small {
  font-weight: 500;
}
.sales-card-wrapper .card p {
  font-weight: 600;
}
.fa-star {
  color: #FF7373;
}