/* SECOND NAVBAR */
.second-navbar {
    background-color: white;
    box-shadow: 0 0 10px lightgray;
}
.second-navbar .container{
    width: 90%;
    margin: 0 auto;

    display: flex;
    align-items: center;
    justify-content: space-between;

    padding-block: 1rem;
}
.second-navbar .fa-bars {
    font-size: x-large;
    display: none;
  }
.second-navbar .container .navbar-left {
    display: flex;
    align-items: center;
    gap: 3rem;
}
.second-navbar .container .navbar-left .brand {
    color: var(--clr-title);
    font-size: 35px;
    font-weight: bold;
}
.second-navbar .container .navbar-left .nav-links {
    display: flex;
    align-items: center;
    gap: 1.5rem;
}
.second-navbar a {
    color: var(--clr-title);
    font-size: 16;
    text-decoration: none;
}
.second-navbar .container .navbar-right {
    display: flex;
    align-items: center;
    gap: 2rem;
}
.second-navbar .container .navbar-right .icons {
    display: flex;
    align-items: center;
    gap: 1rem;
}
.second-navbar .container .navbar-right .icons i {
    padding: .5rem;
    background-color: white;
    border-radius: 50%;
    position: relative;

    box-shadow: 0 0 10px lightgray;
}
.second-navbar .container .navbar-right .icons i:hover {
    background-color: var(--clr-title);
    color: white;
}
.second-navbar .container .number {
    position: absolute;
    top: -5px;
    right: -5px;

    width: 15px;
    height: 15px;
    font-size: xx-small;
    background-color: var(--clr-pink);
    border-radius: 50%;
    color: white;

    display: flex;
    align-items: center;
    justify-content: center;
}


/* MEDIA QUERIES */
@media (max-width: 1200px) {
    .second-navbar .container .navbar-left .nav-links {
        display: none;
    }
    .second-navbar .fa-bars {
        display: block;
    }
}

@media (max-width: 992px) {}

@media (max-width: 768px) {
    .second-navbar .container .navbar-right .d-none {
        display: none;
    }
    .second-navbar .container .navbar-left .brand {
        font-size: 25px;
    }
}

@media (max-width: 667px) {}