.blogCategories-conatiner{
    align-items: center;
    width : 100%;
   
}


.catagories-title{
        
       font-weight:700;
       justify-items:center;
      
}

div button{
    margin: 0.33rem 0.3rem;
}



