
.blog-details-layout{
    display: flex;
    flex-direction: row;
    
    width: 75%;
    margin:0;
    margin-left: 10%;
    align-content: center;
}
/* .blog-details-layout div{
    border : 2px solid rgb(0, 200, 255);
} */
.blog-details{
    
    align-items: center;
    width : 80%;
    margin: 0 2rem;
    
    }

    .blog-section-details-one{
        display:flex;
        flex-direction: column;
        margin: 0;
    }
   

    .sub-profile {
        font-size: 1rem;
        padding: 0.8rem 0.6rem;
        }
        .sub-profile span{
            padding-left: 1.2rem;
        }
    .blog-section--details-two .titlle{
      font-size: 2rem;
      align-items: center;
      font-weight: 600;
     
    }

    .blog-details-subcontent
    {
        display:flex;
        flex-direction: row;
        gap: .8rem;
    }
    p{
        margin-left: 0.3rem;
    }
    .blog-details-categories{
        margin: 1.2rem 0.2rem;
        list-style: none;
        
        
    }
    .box-tags{
        background-color: #E6E6E7;
        font-size: 1.3rem;
        padding: 0 auto ;
        margin: 0.2rem 0.2rem;
    }


    .box-tags-share{
        display: flex;
        flex-direction: row;
        justify-content: space-between;
    }
    .box-tags-share div{
        margin: 0.4rem 0.32rem;
      }
      .box-tags-share div i{
        margin: 0.4rem 0.32rem;
      }

   /* form comment */
   .form-container-comment{
    width: 95%;
    display: flex;
    flex-direction: column;
    padding: 0.6rem 1.2rem;
    margin: 2rem;
}
   .input-name{
    display: flex;
    flex-direction: row;
    justify-content: space-between;
   }
  .form-container-comment div input{
        width: 45%;
        padding: .6rem .5rem;
        margin: 0.6rem 0;        
    }
    .form-container-comment button{
        width:40%;
        padding: .6rem .5rem;
        align-content: center;
        background-color: coral;
        border: none;
        border-radius: .3rem;
    }
    .blog-section-details-one .blog-details-main-img{
        width: 100%;
        height: 25vh;
    }
    .blog-comment{
        display: flex;
        flex-direction: row;
        gap: 1rem;
        margin: 1rem 1rem;
    }
    .blog-comment:nth-child(2) {
        margin: 0.6rem 2.4rem;
      }
    .blog-comment-i{
        color: rgb(12, 12, 12);
        text-shadow: 1px 1px 1px rgb(171, 167, 167);
        border-radius: 15px;
        border: 1px solid rgb(156, 155, 155);
        font-size: 2rem;
    }
    
     @media screen and (max-width: 992px) {
        .blog-details-layout{
            display: flex;
            flex-direction: row;
            width: 100%;
            margin:0;
            align-content: center;
        }
        .blog-details-subcontent img{
            height: 25vh;
        }
      }
      

     @media screen and (max-width: 1080px) {
        .blog-details-layout{
            display: flex;
            flex-direction: row;
            width: 100%;
            margin:0;
            align-content: center;
        }
        .blog-details-subcontent img{
            width: 100%;
            height: 25vh;
        }
      }
      
      /* On screens that are 600px or less, set the background color to olive */
      @media screen and (max-width: 600px) {
        .blog-details-layout{
            display: flex;
            flex-direction: column;
            width: 100%;
            margin:0;
            align-content: center;
        }
        .blog-details-subcontent
        {
            display:flex;
            flex-direction: column;
            
        }
        
      }
