.blogCategories-conatiner{
    align-items: center;
    width : 100%;
    list-style: none;
    padding: 1.2rem 0.6rem;
    margin-left: 2rem;
}


.blogCategories-conatiner .catagories-title{
        
       font-weight:700;
       justify-items:center;
      
}

 .tag-buttons {
    padding: 0.3rem 0.255rem;
    margin: 0.33rem 0.3rem;
}

