@import url('https://fonts.googleapis.com/css2?family=Poppins:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&display=swap');

:root {
    --clr-showcase-bg: #E6E6E6;
    --clr-title: #222529;
    --clr-pink: #FF7373;
}

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}
html, 
body {
    font-family: 'Poppins', sans-serif;
    background-color: white;
}
.home .container {
    width: 90%;
    margin: 0 auto;
}

/* BUTTONS */
.home .btn,
.pop-up .btn {
    border: none;
    width: 170px;
    height: 50px;
    background-color: white;
    color: black;
}
.home .btn-pink,
.pop-up .btn-pink {
    color: white;
    background-color: var(--clr-pink);
}
.home .btn-black {
    background-color: black;
    color: white;
}

.btn:hover {
    animation: mypink 1s;
    animation-fill-mode: forwards;
}
@keyframes mypink {
    to {background-color: black; color: white;}
}
.btn-black:hover {
    animation: myblack 1s;
    animation-fill-mode: forwards;
}
@keyframes myblack {
    to {background-color: gray;}
}


/* HOME - HEADER */
.home .header {
    background-color: var(--clr-showcase-bg);
    height: 85vh;
}
.home .header .menu {
    display: flex;
    align-items: center;
    justify-content: space-between;

    padding-block: 1rem;
}
.home .header .menu .brand {
    color: var(--clr-title);
    font-size: 35px;
    font-weight: bold;
}
.home .header .menu .nav-links {
    display: flex;
    align-items: center;
    gap: 2rem;

    position: absolute;
    left: 50%;
    transform: translate(-50%);
}
.home .header .menu .nav-links a {
    color: var(--clr-title);
    font-size: 16;
    text-decoration: none;
}
.home .header .menu .menu-icons {
    display: flex;
    align-items: center;
    gap: 1rem;
}
.home .header .menu .menu-icons i {
    padding: .5rem;
    background-color: white;
    border-radius: 50%;
    position: relative
}
.home .header .menu .menu-icons i:hover {
    background-color: var(--clr-title);
    color: white;
}
.home .number {
    position: absolute;
    top: -5px;
    right: -5px;

    width: 15px;
    height: 15px;
    font-size: xx-small;
    background-color: var(--clr-pink);
    border-radius: 50%;
    color: white;

    display: flex;
    align-items: center;
    justify-content: center;
}


/* HOME - SHOWCASE */
.home .showcase {
    display: flex;
    justify-content: space-between;
    align-items: center;

    text-align: center;
    color: var(--clr-title);
}
.home .showcase img {
    height: 73vh;
}
.home .showcase .text h1 {
    font-weight: 800;
    font-size: 65px;
    line-height: 75px;
}
.home .showcase .text p {
    font-size: 20px;
    margin-block: 2rem;
}


/* HOME - SECOND SHOWCASE */
.home .second-showcase {
    margin-block: 3rem;
}
.home .second-showcase .container {
    display: flex;
    height: 50vh;
}
.home .second-showcase .container .first-placeholder {
    flex: 2;
    background-image: url(./img/showcase-img-1.svg);
    background-color: rgb(198, 191, 191);
    background-size: contain;
    background-position: right bottom;
    background-repeat: no-repeat;

    padding: 2rem;
    padding-top: 4rem;
}
.home .second-showcase .container .first-placeholder p,
.home .second-showcase .container .second-placeholder p {
    margin-block: 1rem;
    max-width: 55%;
}

.home .second-showcase .container .second-placeholder {
    flex: 1;
    background-image: url(./img/showcase-img-2.svg);
    background-color: #E6E6E6;
    background-position: right bottom;
    background-size: contain;
    background-repeat: no-repeat;

    padding: 2rem;
    padding-top: 8rem;
}
.home .second-showcase .container .second-placeholder h2,
.home .second-showcase .container .first-placeholder h2 {
    margin-bottom: 1rem;
    font-size: 30px;
    line-height: 40px;
}


/* HOME - FEATURED PRODUCT */
.home .featured {
    width: 50%;
    margin: 0 auto;
    text-align: center;
    margin-bottom: 3rem;
}
.home .featured .products {
    display: grid;
    grid-template-columns: 1fr 1fr 1fr 1fr;
    justify-content: center;
    gap: 1.5rem;
    margin-top: 1rem;
}
.home .product-item .text {
    display: flex;
    flex-direction: column;
}
.home .product-item {
    position: relative;
}
.home .product-item:hover .quick-view,
.home .product-item:hover .featured-icons i,
.home .product-item:hover .layer {
    display: block;

}
.home .product-item .gray-box {
    width: 220px;
}
.home .clr-gray {
    color: gray;
}
.home .not-so-strong {
    font-weight: 600;
}

.home .quick-view {
    position: absolute;
    top: 138px;
    display: none;

    width: 100%;
    padding-block: .7rem;
    font-weight: 200;
    font-size: small;
    background-color: var(--clr-pink);
    color: white;
    z-index: 1;
}
.home .featured-icons {
    position: absolute;
    top: .5rem;
    right: .5rem;
    
    color: var(--clr-title);
    display: flex;
    flex-direction: column;
    gap: .5rem;
}
.home .featured-icons i {
    padding: .5rem;
    background-color: white;
    border-radius: 50%;
    box-shadow: 1px 5px 10px rgb(177, 177, 177);
    display: none;
    z-index: 1;
}
.home .featured-icons i:hover {
    background-color: var(--clr-title);
    color: white;
}
.home .layer {
    background-color: rgba(0, 0, 0, 0.149);
    position: absolute;
    top: 0;
    right: 0;
    left: 0;
    bottom: 6.4rem;
    display: none;
}


/* HOME - THIRD SHOWCASE */
.home .third-showcase .container {
    display: flex;
    gap: 1rem;
    height: 270px;
    margin-bottom: 3rem;
}

.home .third-showcase .third-placeholder {
    background-image: url(./img/showcase-img-3.svg);
    background-color: rgb(117, 104, 88);
    width: 100%;
    background-size: contain;
    background-position: left bottom;
    background-repeat: no-repeat;

    padding: 2rem;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: flex-end;
    gap: 1rem;
    font-size: x-large;
}
.home .third-showcase .clr-white {
    color: white;
}
.home .third-showcase .third-placeholder button {
    margin-right: 4.5rem;
}
.home .third-showcase .fourth-placeholder {
    background-image: url(./img/showcase-img-4.svg);
    background-color: rgb(217, 217, 217);
    width: 100%;
    background-size: contain;
    background-position: right bottom;
    background-repeat: no-repeat;

    padding: 2rem;
    display: flex;
    gap: 1rem;
    flex-direction: column;
    justify-content: center;
    font-size: x-large;
}


/* HOME - OUR SPECIALITY */
.home .our-speciality {
    text-align: center;
    margin-bottom: 3rem;
}
.home .our-speciality .container {
    background-color: #F5F5F5;
    padding: 3rem;
}
.home .our-speciality .box-container {
    display: flex;
    gap: 1rem;
    justify-content: space-between;
}
.home .our-speciality .box-group {
    display: flex;
}
.home .our-speciality .box {
    background-color: white;
    width: 190px;
    height: 190px;

    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
}
.home .our-speciality .box small {
    border-bottom: 1px solid gray;
    margin-top: 1rem;
}
.home .our-speciality .box-gray {
    background-color: #BBBBBB;
    width: 190px;
    height: 190px;
}