@import url('https://fonts.googleapis.com/css2?family=Poppins:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&display=swap');

:root {
    --clr-showcase-bg: #E6E6E6;
    --clr-title: #222529;
    --clr-pink: #FF7373;
}

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}
html, 
body {
    font-family: 'Poppins', sans-serif;
    background-color: white;
}
.container {
    width: 90%;
    margin: 0 auto;
}

.btn {
    border: 1px solid white;
    width: 170px;
    height: 50px;
    border: none;
    /* overflow: hidden; */
    /* position: relative; */
}
.btn::after {
    /* content: '';
    inset: 7px;
    position: absolute;
    border-top: 2px solid white; */
    /* width: 30px; */
    /* border-bottom: 2px solid white; */

    /* transform: scaleX(.5); */
    /* transform: rotateY(-40deg); */
    /* transform: translate(120px, 50%); */
    /* transform: scale(0.3) translate(-100%, -100%); */
}
/* .btn::after {
    border-right: 2px solid white;
    border-left: 2px solid white;
} */

.btn-pink {
    color: white;
    background-color: var(--clr-pink);
}
.btn-black {
    background-color: black;
    color: white;
}


/* HOME - HEADER */
.header {
    background-color: var(--clr-showcase-bg);
    height: 85vh;
}
.header .menu {
    display: flex;
    align-items: center;
    justify-content: space-between;

    padding-block: 1rem;
}
.header .menu .brand {
    color: var(--clr-title);
    font-size: 35px;
    font-weight: bold;
}
.header .menu .nav-links {
    display: flex;
    align-items: center;
    gap: 2rem;

    position: absolute;
    left: 50%;
    transform: translate(-50%);
}
.header .menu .nav-links a {
    color: var(--clr-title);
    font-size: 16;
    text-decoration: none;
}
.header .menu .menu-icons {
    display: flex;
    align-items: center;
    gap: 1rem;
}
.header .menu .menu-icons i {
    padding: .5rem;
    background-color: white;
    border-radius: 50%;
    position: relative
}
.header .menu .menu-icons i:hover {
    background-color: var(--clr-title);
    color: white;
}
.number {
    position: absolute;
    top: -5px;
    right: -5px;

    width: 15px;
    height: 15px;
    font-size: xx-small;
    background-color: var(--clr-pink);
    border-radius: 50%;
    color: white;

    display: flex;
    align-items: center;
    justify-content: center;
}



.showcase {
    display: flex;
    justify-content: space-between;
    align-items: center;

    text-align: center;
    color: var(--clr-title);
}
.showcase img {
    height: 73vh;
}
.showcase .text h1 {
    font-weight: 800;
    font-size: 65px;
    line-height: 75px;
}
.showcase .text p {
    font-size: 20px;
    margin-block: 2rem;
}





/* HOME - SECOND SHOWCASE */
.second-showcase {
    margin-block: 3rem;
}
.second-showcase .container {
    display: flex;
    height: 50vh;
}
.second-showcase .container .winter {
    flex: 2;
    background-image: url(./img/showcase-img-1.svg);
    background-color: rgb(198, 191, 191);
    background-size: contain;
    background-position: right bottom;
    background-repeat: no-repeat;

    padding: 2rem;
    padding-top: 4rem;
}
.second-showcase .container .winter p,
.second-showcase .container .arrivals p {
    margin-block: 1rem;
    max-width: 55%;
}

.second-showcase .container .arrivals {
    flex: 1;
    background-image: url(./img/showcase-img-2.svg);
    background-color: #E6E6E6;
    background-position: right bottom;
    background-size: contain;
    background-repeat: no-repeat;

    padding: 2rem;
    padding-top: 8rem;
}
.second-showcase .container .arrivals h2,
.second-showcase .container .winter h2 {
    margin-bottom: 1rem;
    font-size: 30px;
    line-height: 40px;
}





/* HOME - FEATURED PRODUCT */
.featured {
    width: 50%;
    margin: 0 auto;
    text-align: center;
    margin-bottom: 3rem;
}
.featured .products {
    display: grid;
    grid-template-columns: 1fr 1fr 1fr 1fr;
    justify-content: center;
    gap: 1.5rem;
    margin-top: 1rem;
}
.product-item .text {
    display: flex;
    flex-direction: column;
}
.product-item {
    position: relative;
}
.product-item:hover .quick-view,
.product-item:hover .featured-icons i,
.product-item:hover .layer {
    display: block;
}
.product-item .gray-box {
    width: 220px;
}
.clr-gray {
    color: gray;
}
.not-so-strong {
    font-weight: 600;
}

.quick-view {
    position: absolute;
    top: 138px;
    display: none;

    width: 100%;
    padding-block: .7rem;
    font-weight: 200;
    font-size: small;
    background-color: var(--clr-pink);
    color: white;
    z-index: 1;
}
.featured-icons {
    position: absolute;
    top: .5rem;
    right: .5rem;
    
    color: var(--clr-title);
    display: flex;
    flex-direction: column;
    gap: .5rem;
}
.featured-icons i {
    padding: .5rem;
    background-color: white;
    border-radius: 50%;
    box-shadow: 1px 5px 10px rgb(177, 177, 177);
    display: none;
    z-index: 1;
}
.featured-icons i:hover {
    background-color: var(--clr-title);
    color: white;
}
.layer {
    background-color: rgba(0, 0, 0, 0.149);
    position: absolute;
    top: 0;
    right: 0;
    left: 0;
    bottom: 6.4rem;
    display: none;
}



/* HOME - THIRD SHOWCASE */
.third-showcase .container {
    display: flex;
    gap: 1rem;
    height: 270px;
    margin-bottom: 3rem;
}

.third-showcase .pamela {
    background-image: url(./img/showcase-img-3.svg);
    background-color: rgb(117, 104, 88);
    width: 100%;
    background-size: contain;
    background-position: left bottom;
    background-repeat: no-repeat;

    padding: 2rem;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: flex-end;
    gap: 1rem;
    font-size: x-large;
}
.third-showcase .clr-white {
    color: white;
}
.third-showcase .pamela button {
    margin-right: 3rem;
}
.third-showcase .conscious {
    background-image: url(./img/showcase-img-4.svg);
    background-color: rgb(217, 217, 217);
    width: 100%;
    background-size: contain;
    background-position: right bottom;
    background-repeat: no-repeat;

    padding: 2rem;
    display: flex;
    gap: 1rem;
    flex-direction: column;
    justify-content: center;
    font-size: x-large;
}



/* HOME - OUR SPECIALITY */
.our-speciality {
    text-align: center;
    margin-bottom: 3rem;
}
.our-speciality .container {
    background-color: #F5F5F5;
    padding: 3rem;
}
.our-speciality .box-container {
    display: flex;
    gap: 1rem;
    justify-content: space-between;
}
.our-speciality .box-group {
    display: flex;
}
.our-speciality .box {
    background-color: white;
    width: 190px;
    height: 190px;

    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
}
.our-speciality .box small {
    border-bottom: 1px solid gray;
    margin-top: 1rem;
}
.our-speciality .box-gray {
    background-color: #BBBBBB;
    width: 190px;
    height: 190px;
}